<form [formGroup]="registerForm" (ngSubmit)="register()">

    <span class="p-float-label">
        <input type="text" pInputText formControlName="text" />
        <label htmlFor="username">Username</label>
    </span>

    <span class="p-float-label">
        <input type="email" pInputText formControlName="email" />
        <label htmlFor="email">e-mail</label>
    </span>

    <span class="p-float-label">
        <p-password type="password" formControlName="password" [toggleMask]="true" />
        <label htmlFor="password">Password</label>
    </span>

    <span class="p-float-label">
        <p-password type="password" formControlName="passwordVerification" [toggleMask]="true" />
        <label htmlFor="passwordVerification">Password verification</label>
    </span>

    <button type="submit" [disabled]="!registerForm.valid">Register</button>

</form>